# Environment files (JANGAN COMMIT!)
.env
.env.local
.env.development
.env.production
.env.*.local

# KECUALI .env.example (boleh commit)
!.env.example

# Nuxt build artifacts
.nuxt/dev
.nuxt/dist
.nuxt/manifest/latest.json
.nuxt/manifest/meta/dev.json
.nuxt/nitro.json
.nuxt/nuxt-fonts-global.css